body{
    padding: 2% 3%;
    background-color: black;
}

.search{
    color: white;
}


.image{
    margin: 20px 10px 0 10px;
    width: 300px;
    height: 300px;
    border: 3px solid White;
    border-radius: 2%;
}
.image:hover{
    cursor: pointer;
}

.indImage{
    width: 450px;
    height: 450px;
}



.text-center {text-align:center;}

a {
  color: tomato;
  text-decoration: none;
}

a:hover {
  color: #2196f3;
}




#a-footer {
  margin: 20px 0;
}

.rating-stars ul {
    list-style-type:none;
    padding:0;
    
  }
  .rating-stars ul > li.star {
    display:inline-block;
    color: red;
    
  }
  
  .rating-stars ul > li.star > i.fa {
    font-size:2.5em;
    color:#ccc; 
  }
  
  .rating-stars ul > li.star.hover > i.fa {
    color:#FFCC36;
  }
  
  .rating-stars ul > li.star.selected > i.fa {
    color:#FF912C;
  }
  
  